.mini-post {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    width: 80%;
    height: max-content;
    padding: 15px;
    background-color: #B2004B;
    transition: 500ms;
}